
/*  CSS TEGS  */

p {
    font-size: 20px;
}

input:focus {
    outline-color: greenyellow;
}

input:hover {
    outline-color: greenyellow;
}

input[type=file] {
    margin: 10px auto;
}

h6 {
    font-family: franklin gothic medium, serif;
}

input[type=submit] {
    text-align: center;
    font-family: franklin gothic medium, serif;
    font-size: 25px;
    padding: 4px;
    background-color:greenyellow;;
    height: 40px;
    width: 200px;
    margin: 10px auto 0 auto;
    display: inline-block;
}

input[type=submit]:hover {
    background-color: red;
}

a {
    text-decoration:none;
    color: black;
    cursor: pointer;
}

a:hover {
    text-decoration:none;
    color: black;
}

a:active {
    color: black;
    text-decoration:none;
}

a:visited {
    color: black;
    text-decoration:none;
}


li {
    list-style-type: none;
}

header {
    background-color: greenyellow;
    height:60px;
    width: 100%;
    min-width: 750px;
}

main {
    background-color: white;
    margin: auto;
    width: 800px;
    min-height: 500px;
}

footer {
    margin:  auto;
    text-align: center;
    width: 800px;
    height: 50px;
    padding: 0 20px;
}



/*  CSS ID  */


#container {
    background-color: white;
    margin: auto;
    width: 800px;
    height: 100%;

}

#imgLogo {
    width: 50px;
    height: 50px;
    display: inline-block;
}



#updateLab #errorLab{
    font-size: 25px;
    color: red;
}

#post-list {
    margin: auto;
}

#errorLabLog {
    font-size: 25px;
    color: red;
}

#editMess {
    display: block
}

#editMessUser {
    display: block
}

#logo {
    font-family: franklin gothic medium, serif;
    font-size: 50px;
    margin-top: -20px;
    margin-left: 20px;
    display: inline-block;
    width: 400px;
}

#formWelcome {
    font-family: franklin gothic medium, serif;
    text-align: center;
}



#containerUpload2 {
    width: 100%;
    text-align: center;
}


#logo-block {
    display: inline-block;
    width: 29%;
    background-color: greenyellow;
}

#bigWelcome {
    font-size: 60px;
}



#containerHeaderBlock {
    position: relative;
    display: inline-block;
    min-width: 200px;
    width: 79%;
    border-left-style: solid;
    border-color: greenyellow;
    text-overflow: ellipsis;
    background-color: white;
    /*background-color: RGBA(173, 255, 47, 0.2);*/
}

#containerHeader {
    min-width: 200px;
    height: 250px;
    width: 100%;
    display: inline-block;
}

#menuHeader {
    font-family: franklin gothic medium, serif;
    font-size: 20px;
    margin-top: -20px;
    min-width: 100px;
    height: 250px;
    width: 20%;
    float: left;

}

#findLock {
    display: inline-block;
}


#viewContentHeader {
    margin-top: 30px;
    display: block;
}

#navigation {
    width: 70%;
    text-align: right;
    display: inline-block;
}

#formLogin #sendEmailForm #formRestore{
    width: 100%;
    text-align: center;
}



/*  CSS CLASSES  */

.avatar {
    float: right;
    margin-bottom: 50px;

}

.ava {
    width: 150px;
    height: 150px;
    opacity: 0.9;
}


.but {
    text-align: center;
    font-family: franklin gothic medium, serif;
    font-size: 45px;
    padding: 10px;
    margin-top: -20px;
    height: 80px;
    width: 180px;
    display: inline-block;
    background-color: greenyellow;
}



.but:hover {
    background-color: red;
    height: 80px;
    cursor: pointer;
}

.chatImg {
    width: 20px;
    height: 20px;
    display: inline-block;
}

.blockForChatText {
    width: 250px;
    word-break: break-all;
    margin: auto;
}

.sendInToChatButton {
    text-align: center;
    font-family: franklin gothic medium, serif;
    font-size: 25px;
    padding: 4px;
    background-color: greenyellow;;
    height: 40px;
    width: 150px;
    display: inline-block;
    /*display: none;*/
}

.sendInToCorrButton {
    text-align: center;
    font-family: franklin gothic medium, serif;
    font-size: 25px;
    padding: 4px;
    background-color: yellow;;
    height: 40px;
    width: 150px;
    display: inline-block;
    /*display: none;*/
}

.sendInToCorrButton:hover {
    background-color: red;
    cursor: pointer;
}

.deletePostButtonForm {
    text-align: center;
    font-family: franklin gothic medium, serif;
    font-size: 25px;
    padding: 4px;
    background-color: greenyellow;;
    height: 40px;
    width: 150px;
    display: inline-block;
}

.deletePostButtonForm:hover {
    background-color: red;
    cursor: pointer;
}

.sendInToChatButton:hover {
    background-color: red;
    cursor: pointer;
}

.menuName {
    cursor: pointer;
    color: black;
}

.menuName a {
    text-decoration: none;
}

.menuName a:hover {
    text-decoration: none;
    color: greenyellow;
}


.menuName a:active {
    text-decoration:none;
}

.menuName a:visited {
    text-decoration:none;
}

.statusMessages {
    display: inline-block;
    background: red;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: black;
}

.statusMessages:hover {
    color: black;
    background: red;

}

.menuName:hover {
    color: greenyellow;
}

.butMini {
    text-align: center;
    font-family: franklin gothic medium, serif;
    font-size: 25px;
    padding: 4px;
    background-color: greenyellow;;
    margin-top: -50px;
    height: 40px;
    width: 150px;
    display: inline-block;
}

.butMini:hover {
    background-color: red;
    cursor: pointer;
}

.butKick{
    background-color: yellow;
    float: right;
    margin-bottom: 50px
}

.butKick:hover {
    background-color: red;
}

.butWrite{
    background-color: yellow;
    float: right;
    margin-bottom: 50px
}

.butWrite:hover {
    background-color: red;
}





.tool { /* стиль текста, наведя или нажав на который появится пояснение */
    display: inline-block;
    background: black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: white;
    position: relative;
    text-indent: 0px;
    font-size: 70%;
}
.tool > p { /* стиль появляющейся подсказки */
    position: absolute;
    z-index: 1000;
    color: black;
    left: 0; /* = max-width */
    right: 0; /* = max-width */
    width: -moz-max-content;
    width: max-content;  /* ширина подсказки может быть не более содержимого */
    max-width: 40em;  /* ширина подсказки может быть не более 20em */
    max-height: 80vh; /* необязательное ограничение по высоте подсказки, 1vh — это 1% от ширины окна */
    overflow: auto;
    visibility: hidden;
    margin: 0 auto .4em; /* поднята на .4em над текстом, наведя или нажав на который появится пояснение */
    padding: .3em;
    border: solid greenyellow;
    font-size: 30px;
    background: #fff;
    line-height: normal;
    cursor: auto;
}

.tool:after { /* треугольничек под подсказкой; тут тоже везде .4em */
    content: "";
    position: absolute;
    top: -.4em;
    left: 50%;
    visibility: hidden;
    margin: 0 0 0 -.4em;
    border: .4em solid greenyellow;;
    cursor: auto;
}

.tool:before { /* поле между текстом, наведя или нажав на который появится пояснение, и подсказкой нужно чтобы, если перевести курсор мышки на подсказку, та не исчезла; тут тоже везде .4em */
    content: "";
    position: absolute;
    top: -.4em;
    left: 0;
    right: 0;
    height: .4em;
    visibility: hidden;
}
.tool:hover > p,
.tool:hover:before,
.tool:hover:after,
.tool:focus > p,
.tool:focus:before,
.tool:focus:after {
    visibility: visible;
    transition: 0s .4s;
}
.tool:focus { /* убрать рамку в Хроме */
    outline: none;
}
.tool.anim > p,
.tool.anim:after { /* анимация */
    opacity: 0;
    transform: translateX(-1.5em) scale(.3);
    transform-origin: top;
}
.tool.anim:after {
    transform: translateY(-.7em) scale(.3); /* 1.7 = 1.5 / (1.4*2) */
}
.tool.anim:hover > p,
.tool.anim:hover:after,
.tool.anim:focus > p,
.tool.anim:focus:after {
    opacity: 1;
    transition: .6s .4s;
    transform: translateY(0);
}
