<div id = "formLogin">
    <label style="display: block">
        <p>login</p>
        <input id="editUsernameLog" type="text"><br>
        <p>password</p>
        <input id="editPasswordLog" type="password"><br>
    </label>
    <div style="margin-top: 20px">
        <a href="#main">
            <div class="butMini" id = "signInButton">
                log in
            </div>
        </a>
        <a href="#restorePage">
            <div class="butMini" id = "restorePageButton">
                restore
            </div>
        </a>
    </div>
    <label id = "errorLabLog"></label>
</div>