<br>
<br>
<ul id="menuList">
    <li class="menuName">
        <a href="#showPosts">Posts</a>
    </li>
    <li class="menuName">
        <a href="#chat">Chat</a>
    </li>
    <li class="menuName">
        <a href="#changeLogo">Change logo</a>
    </li>
    <li class="menuName">
        <a href="#showFriends">Show Friends</a>
    </li>
    <li class="menuName">
        <a href="#invitesToFriends">Invite Friends</a>
    </li>
    <li class="menuName">
        <a href="#showFind">Find Friends</a>
    </li>
    <li class="menuName">
        <a href="#showAll">All Users</a>
    </li>
    <li class="menuName">
        <a href="#sendEmail">Send Invite</a>
    </li>
</ul>