<br>
<div>
    <img src=<%= img %> style="max-width: 400px; max-height: 250px">
    <h1><strong> <%= title %> </strong></h1>
    <h3> <%= content %> </h3>
</div>
<div>
    <img src=<%= createrInfo.createrImg %> style="max-width: 40px; max-height: 40px; display: inline-block">
    <h5 style="display: inline-block"><%= createrInfo.createrUsername %></h5>
    <h5><%= new Date(created).adecvatFormat() %></h5>
    <div class="deletePostButtonForm">
        delete
    </div>
</div>
<hr size="5" color="greenyellow">
