<div id = "formRegister">
    <label style="display: block">
        <p>login</p>
        <input id="editUsernameReg" type="text"><br>
        <p>password</p>
        <input id="editPasswordReg" type="password"><br>
        <p>confirm password</p>
        <input id="editConfirmPasswordReg" type="password"><br>
        <p>email</p>
        <input id="editEmailReg" type="text"><br>
        <p>birthday</p>
        <input id="editBirthdayReg" value="1990-01-01" max="2000-01-01" min="1970-01-01" type="date" style="width: 200px"><br>
        <p>address</p>
        <input id="editAddressReg" type="text"><br>
    </label>
    <div style="margin-top: 20px">
        <div class="butMini" id = "registerButton">
            register
        </div>
    </div>
    <label id = "errorLab"></label>
</div>