<div style="width: 79%; display:inline-block">
    <h6>my name is</h6>
    <h1><strong> <%= username %> </strong></h1>
    <h6>my @-mail</h6>
    <h4> <%= email %> </h4>
    <h6>i born</h6>
    <h4> <%=  (new Date(birthday).getMonthName()) + " " + (new Date(birthday).getDate()) + "  " + (new Date(birthday).getFullYear()) %> </h4>
    <h6>i live in</h6>
    <h4> <%= address %> </h4>
    <h6> this user locate at you on</h6>
    <h4>
        <a href='https://www.google.com.ua/maps/search/<%= coords.latitude %>,<%= coords.longitude %>' target="_blank">
            <%= dist %>
        </a>
    </h4>
</div>
<div style="width: 20%; display: inline-block">
    <div class = "avatar">
        <img class="ava" src= <%=img%> />
    </div>
    <div class="butMini butDel" style="float: right; margin-bottom: 50px">
        delete
    </div>
    <div class="butMini butUpd" style="float: right; margin-bottom: 50px">
        update
    </div>
    <div class="butMini butAdd" style="float: right; margin-bottom: 50px">
        add
    </div>
    <div class="butMini butWrite">
        write
    </div>
    <div class="butMini butKick">
        kick
    </div>
</div>
<hr size="5" color="greenyellow">
