<br>
<div id="postBody">
    <img src=<%= img %> style="max-width: 400px; max-height: 250px">
    <h1><strong> <%= title %> </strong></h1>
    <h3> <%= content %> </h3>
</div>
<div id="userInfo">
    <img src=<%= createrImg %> style="max-width: 40px; max-height: 40px; display: inline-block">
    <h5 style="display: inline-block"><%= creater %></h5>
    <h5><%= created %></h5>
    <div class="butMini deletePostButtonForm" id="delPostBut">
        delete
    </div>
</div>
<hr size="5" color="greenyellow">
