<div id = "showUser" style="width: 79%; display:inline-block">
    <h6>my name is</h6>
    <h1 id="lab1"><strong> <%= username %> </strong></h1>
    <h6>my @-mail</h6>
    <h4 id="lab2"> <%= email %> </h4>
    <h6>i born</h6>
    <h4 id="lab3"> <%= birthday %> </h4>
    <h6>i live in</h6>
    <h4 id="lab4"> <%= address %> </h4>
    <h6> this user locate at you on</h6>
    <h4 id="lab5"> <%= dist %> </h4>
</div>
<div  id = "showUserButtons" style="width: 20%; display: inline-block">
    <div id = "avatar">
        <img id="ava" src= <%=img%> />
    </div>
    <div class="butMini butDel" id="deleteUserButton" style="float: right; margin-bottom: 50px">
        delete
    </div>
    <div class="butMini butUpd" id="updateUserButton" style="float: right; margin-bottom: 50px">
        update
    </div>
    <div class="butMini butAdd" id="addUserButton" style="float: right; margin-bottom: 50px">
        add
    </div>
    <div class="butMini butSendMessage" id="sendMessageToFriendButton" style="float: right; margin-bottom: 0px">
        mess
    </div>
</div>
<hr size="5" color="greenyellow">
